@font-face {
  font-family: bruno;
  src: url("../../Bruno_Ace/BrunoAce-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: black;
  font-family: bruno;
}

div div li a {
  color: white;
}

body {
  background-image: url("../../images/spaceBG.jpg");
}

@keyframes spaceBG {
  0% {
    left: -100px;
  }
  50% {
    left: 7000px;
  }
  100% {
    right: 7000px;
  }
}
.navbar {
  font-size: 2.5rem;
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100%;
}
.navbar button {
  color: white;
  background-color: white;
}

.aboutPlanet {
  width: 500px;
  height: 500px;
  background-color: black;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  top: calc(50% - 250px);
  right: calc(50% - 250px);
  background-image: url("../../images/mainPlanet.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotateColor 50s alternate infinite;
}
.aboutPlanet div {
  font-size: 60px;
}
@media only screen and (max-width: 700px) {
  .aboutPlanet {
    top: 50px;
    right: calc(50% - 250px);
  }
}

.resumePlanet {
  width: 160px;
  height: 160px;
  background-color: black;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  top: calc(15% - 80px);
  left: calc(12% - 80px);
  background-image: url("../../images/resumePlanet.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotateColor 50s alternate infinite;
}
.resumePlanet div {
  font-size: 24px;
  color: white;
}
@media only screen and (max-width: 700px) {
  .resumePlanet {
    top: 575px;
    left: calc(50% - 80px);
  }
}

.servicesPlanet {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  bottom: calc(30% - 120px);
  left: calc(20% - 120px);
  background-image: url("../../images/servicesPlanet.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotateColor 50s alternate infinite;
}
.servicesPlanet div {
  font-size: 36px;
}
@media only screen and (max-width: 700px) {
  .servicesPlanet {
    top: 750px;
    left: calc(50% - 120px);
  }
}

.projectsPlanet {
  width: 200px;
  height: 200px;
  background-color: black;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  top: calc(40% - 100px);
  right: calc(20% - 100px);
  background-image: url("../../images/projectsPlanet.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotateColor 50s alternate infinite;
}
.projectsPlanet div {
  font-size: 30px;
  color: white;
}
@media only screen and (max-width: 700px) {
  .projectsPlanet {
    top: 1000px;
    right: calc(50% - 100px);
  }
}

.contactPlanet {
  width: 120px;
  height: 120px;
  background-color: black;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  bottom: calc(15% - 60px);
  right: calc(35% - 60px);
  background-image: url("../../images/contactPlanet.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotateColor 50s alternate infinite;
}
.contactPlanet div {
  font-size: 18px;
}
@media only screen and (max-width: 700px) {
  .contactPlanet {
    top: 1200px;
    right: calc(50% - 60px);
  }
}

.width-100 {
  width: 100%;
}

.container {
  z-index: 3;
  color: green;
}

@keyframes rotateColor {
  to {
    filter: hue-rotate(1turn);
  }
}
.container {
  flex-wrap: wrap;
}

.mt-10 {
  margin-top: 7rem;
}

.w-15 {
  width: 15%;
}

.hideFlow-Y {
  overflow-y: hidden;
}

.text-blue-900 {
  color: rgb(13, 71, 161);
}

.text-red-600 {
  color: rgb(229, 57, 53);
}

.serviceBox {
  box-shadow: 0px 0px 59px 17px rgb(13, 202, 240);
  -webkit-box-shadow: 0px 0px 59px 17px rgb(13, 202, 240);
  -moz-box-shadow: 0px 0px 59px 17px rgb(13, 202, 240);
}

@media only screen and (max-width: 700px) {
  #home body {
    display: flex;
    flex-direction: column;
    padding: 10rem;
    margin: 10rem;
  }
}

.renPic {
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
}/*# sourceMappingURL=styles.css.map */