// imports tools for bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// custom font
@font-face {
    font-family: bruno;
    src: url("../../Bruno_Ace/BrunoAce-Regular.ttf");
}

// universal selector
* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: black;
    font-family: bruno;
}

// changes the header colors
div {
    div {
        li {
            a {
                color: white;
            }
        }
    }
}

// Background
@keyframes backgroundSlide {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  
  body {
    background-image: url('../../images/spaceBG.jpg');
    background-repeat: repeat-x;
    animation: backgroundSlide 15s linear infinite;
  }
  

// Header
.navbar {
    font-size: 2.5rem;
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100%;

    button {
        color: white;
        background-color: white;
    }
}

// Planets
.aboutPlanet {
    width: 500px;
    height: 500px;
    background-color: black;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    top: calc(50% - 250px);
    right: calc(50% - 250px);
    background-image: url("../../images/mainPlanet.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateColor 50s alternate infinite;

    div {
        font-size: 60px;
    }

    @media only screen and (max-width: 700px) {
        top: 125px;
        right: calc(50% - 250px);
    }
}

.resumePlanet {
    width: 160px;
    height: 160px;
    background-color: black;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    top: calc(15% - 80px);
    left: calc(12% - 80px);
    background-image: url("../../images/resumePlanet.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateColor 50s alternate infinite;

    div {
        font-size: 24px;
        color: white;
    }

    @media only screen and (max-width: 700px) {
        top: 650px;
        left: calc(50% - 80px);
    }
}

.servicesPlanet {
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    bottom: calc(30% - 120px);
    left: calc(20% - 120px);
    background-image: url("../../images/servicesPlanet.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateColor 50s alternate infinite;

    div {
        font-size: 36px;
    }

    @media only screen and (max-width: 700px) {
        top: 825px;
        left: calc(50% - 120px);
    }
}

.projectsPlanet {
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    top: calc(40% - 100px);
    right: calc(20% - 100px);
    background-image: url("../../images/projectsPlanet.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateColor 50s alternate infinite;

    div {
        font-size: 30px;
        color: white;
    }

    @media only screen and (max-width: 700px) {
        top: 1075px;
        right: calc(50% - 100px);
    }
}

.contactPlanet {
    width: 120px;
    height: 120px;
    background-color: black;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    bottom: calc(15% - 60px);
    right: calc(35% - 60px);
    background-image: url("../../images/contactPlanet.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateColor 50s alternate infinite;

    div {
        font-size: 18px;
    }

    @media only screen and (max-width: 700px) {
        top: 1275px;
        right: calc(50% - 60px);
    }
}

// width that fills the entire screem
.width-100 {
    width: 100%;
}

// this changes many of the things seen trhoughout the site allowing them to always be on top
.container {
    z-index: 3;
    color: green;
    flex-wrap: wrap;
}

// rotates the colors on the plantets
@keyframes rotateColor {
    to {
        filter: hue-rotate(1turn);
    }
}

// makes a margin top that allows the entire page to not go into the header
.mt-10 {
    margin-top: 7rem;
}

// mes a width that only covers 15% of the page
.w-15 {
    width: 15%;
}

// makes the overflow y not visible
.hideFlow-Y {
    overflow-y: hidden;
}

// blue font
.text-blue-900 {
    color: rgb(13, 71, 161);
}

// red font
.text-red-600 {
    color: rgb(229, 57, 53);
}

// gives a glow to the boxes on the services page
.serviceBox {
    box-shadow: 0px 0px 59px 17px rgba(13, 202, 240, 1);
    -webkit-box-shadow: 0px 0px 59px 17px rgba(13, 202, 240, 1);
    -moz-box-shadow: 0px 0px 59px 17px rgba(13, 202, 240, 1);
}

// makes the home page size as the screen gets smaller
#home {
    @media only screen and (max-width: 700px) {
        body {
            display: flex;
            flex-direction: column;
            padding: 10rem;
            margin: 10rem;
        }
    }
}

// picture of me on the home page
.renPic {
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
}

// makes a custom height for the contact page
.h-20r {
    height: 20rem;
}

// changes the color of the placeholders on the contact page
.input-blue::placeholder {
    color: $info;
}
.input-purple::placeholder {
    color: $purple;
}

// makes a custom margin
.m-20 {
    margin: 20px;
}

// an alternative way to make something display flex rather than bootstrap
.displayFlex{
    display: flex;
}