@font-face {
    font-family: bruno;
    src: url("../../Bruno_Ace/BrunoAce-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: black;
    font-family: bruno;
}

div {
    div {
        li {
            a {
                color: white;
            }
        }
    }
}

// Background
body {
    // width: 2000vw;
    // margin-left: -1500vw;
    // height: 120vh;
    // justify-content: center;
    // align-items: center;
    background-image: url('../../images/spaceBG.jpg');
    // background-repeat: repeat;
    // background-size: 200vw 200vh;
    // right: 0;
    // animation-duration: 600s;
    // animation-name: spaceBG;
    // animation-delay: 0s;
    // animation-iteration-count: infinite;
    // position: relative;
    // z-index: 0;
}

@keyframes spaceBG {
    0% {
        left: -100px
    }

    50% {
        left: 7000px;
    }

    100% {
        right: 7000px;
    }
}

// Header
.navbar {
    font-size: 2.5rem;
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100%;

    button {
        color: white;
        background-color: white;
    }
}

// Planets
.aboutPlanet {
    width: 500px;
    height: 500px;
    background-color: black;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    top: calc(50% - 250px);
    right: calc(50% - 250px);
    background-image: url("../../images/mainPlanet.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateColor 50s alternate infinite;

    div {
        font-size: 60px;
    }

    @media only screen and (max-width: 700px) {
        top: 50px;
        right: calc(50% - 250px);
    }
}

.resumePlanet {
    width: 160px;
    height: 160px;
    background-color: black;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    top: calc(15% - 80px);
    left: calc(12% - 80px);
    background-image: url("../../images/resumePlanet.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateColor 50s alternate infinite;

    div {
        font-size: 24px;
        color: white;
    }

    @media only screen and (max-width: 700px) {
        top: 575px;
        left: calc(50% - 80px);
    }
}

.servicesPlanet {
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    bottom: calc(30% - 120px);
    left: calc(20% - 120px);
    background-image: url("../../images/servicesPlanet.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateColor 50s alternate infinite;

    div {
        font-size: 36px;
    }

    @media only screen and (max-width: 700px) {
        top: 750px;
        left: calc(50% - 120px);
    }
}

.projectsPlanet {
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    top: calc(40% - 100px);
    right: calc(20% - 100px);
    background-image: url("../../images/projectsPlanet.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateColor 50s alternate infinite;

    div {
        font-size: 30px;
        color: white;
    }

    @media only screen and (max-width: 700px) {
        top: 1000px;
        right: calc(50% - 100px);
    }
}

.contactPlanet {
    width: 120px;
    height: 120px;
    background-color: black;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    bottom: calc(15% - 60px);
    right: calc(35% - 60px);
    background-image: url("../../images/contactPlanet.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateColor 50s alternate infinite;

    div {
        font-size: 18px;
    }

    @media only screen and (max-width: 700px) {
        top: 1200px;
        right: calc(50% - 60px);
    }
}

// Other classes/ids
.width-100 {
    width: 100%;
}

.container {
    z-index: 3;
    color: green;
}

@keyframes rotateColor {
    to {
        filter: hue-rotate(1turn);
    }
}

.container {
    flex-wrap: wrap;
}

.mt-10 {
    margin-top: 7rem;
}

.w-15 {
    width: 15%;
}

.hideFlow-Y {
    overflow-y: hidden;
}

.text-blue-900 {
    color: rgb(13, 71, 161);
}

.text-red-600 {
    color: rgb(229, 57, 53);
}

.serviceBox {
    box-shadow: 0px 0px 59px 17px rgba(13, 202, 240, 1);
    -webkit-box-shadow: 0px 0px 59px 17px rgba(13, 202, 240, 1);
    -moz-box-shadow: 0px 0px 59px 17px rgba(13, 202, 240, 1);
}

#home{
    @media only screen and (max-width: 700px) {
        body {
          display: flex;
          flex-direction: column;
          padding: 10rem;
          margin: 10rem;
        }
      }
}

.renPic{
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
}